* {
  margin: 0;
  padding: 0;
}

.appnamediv{
background-color:#bdd6eb;
}

.appname {
  width: 300px;
  height: 90px;
  border-radius: 10px;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid rgba(115, 175, 175, 0.685);
  border-radius: 10px;
}

li {
  list-style: none;
}

nav {
  background-image: linear-gradient(45deg, #7fc4fd 0%, #b3e7e9 51%, #2bf1ff 100%);
  border-radius: 10px;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  padding: 14px 15px;
  display: inline-block;
  width: 100px;
  height: 20px;
  color: black;
  list-style: none;
}

.active {
  background-color: #a8e7e9;
  border: 2px groove rgba(144, 219, 219, 0.295);
  border-radius: 10px;
}

.box {
  height: 200px;
  width: 300px;
  background-color: #9797fa;
  margin: 50px;
}

.input1 {
  height: 150px;
  width: 250px;
  font-size: larger;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input2 {
  margin: 40px;
  height: 50px;
  width: 200px;
  font-size: larger;
}

/* @media only screen and (max-width: 600px) {
  .arr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4965d6;
  }
} */
button {
  cursor: pointer;
  font-weight: bold;
  color: #000333;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color:#beffef;
}

button:active {
  background-color: #44eed7;
}

button:hover, select:hover {
  border: 2px solid #000333;
  transform: scale(1.05);
}

.calcbutton {
  background-color:#60a2af;
  font-size: 30px;
  font-weight: bold;
  width: 120px;
  height: 60px;
}

.text-center {
  text-align: center;
}

.calcdisplay {
  background-color: #ffffff;
  text-align: right;
  font-size: 50px;
  font-weight: bolder;
  margin: 5px 5px 15px 2px;
  width: 353px;
  height: 83px;
}

.border-black {
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}

.border-groove-light{
  border: 2px groove rgba(168, 168, 247, 0.5);
  border-radius: 10px;
}

.calculator {
  background-color:#b4d7c6;
  margin: 8px auto;
  padding: 10px;
  width: 360px;
}

.outer {
  background-color: #d7f4fa;
  margin: 50px auto;
  padding: 10px;
  width: 360px;
  height: 57vh;
  font-size: larger;
}

.outer2 {
  background-color: #d9dce7;
  margin: 15px auto;
  padding: 10px;
  width: 96vw;
  height: 53vh;
  font-size: larger;
}

#btn-list{
 margin-top: 15px;
}

.to-do{
  /* background-color: #6afcf4; */
  text-align: left;
  padding: 5px;
  overflow-wrap: break-word;
}

.modal{
  position: absolute;
  top: 32vh;
  left: 25vw;
  background-color: #2b99ffe7;
  padding: 10px 50px 0px 0px;
}
.cards{
  margin: 1px;
  padding: 5px;
  font-size: 15px;
  font-weight: 550;
  color: #000333;
  background-color:#beffef;
  width: 100px;
  height: 40px;
}
.footer{
  background-color:  #93bebf;
  text-align: center;
  border: 1px solid rgb(22, 176, 187);
  border-radius: 5px;
}

textarea{
  resize: none;
}

.deletetodo{
  cursor: pointer;
  text-align: end;
  cursor: pointer;
  border-radius: 10px;
  background-color: #38a5ff;
  border: 1px solid #000333;
}

.tododiv{
  background-color: #38a5ff; 
  border-radius: 10px;
}